p {
    font-size: 14px;
    font-family: Arial;
    color: grey;
    padding: 10px;
}
body { 
  background-color: rgb(204, 168, 245);
}
h2 { 
  background-color: rgb(177, 223, 245);
}
a {
    font-size: 20px;
    font-family: Arial;
    background-color: beige;
}
h1 {
    border: 5px dashed rgb(247, 243, 173);
    padding: 10px;
}